<!DOCTYPE html>
<html>
<head>
  <title>EmbardyRails</title>
  <meta name="viewport" content=width=980">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= categories_script_tag %>

  <script type="text/javascript">
    var _kmq = _kmq || [];
    var _kmk = _kmk || '7dc1499adaab29f7e690db0acf783b2194b33c18';
    function _kms(u){
      setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0],
        s = d.createElement('script');
        s.type = 'text/javascript'; s.async = true; s.src = u;
        f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

    <script type="text/javascript" src="somecdn/jquery-carousel.js">
      $.

    <script type="text/javascript" src="somecdn/jquery-carousel.js">

    $("div").carousel();
  </script>


  <%= yield %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
